# infra/templates/module-vpn.tmpl
variable "project_id" {}
variable "region" {}
variable "vpc_self_link" {}
variable "peer_ip" {}
variable "shared_secret" {}

module "vpn" {
  source  = "terraform-google-modules/vpn/google"
  version = "~> 1.3"

  project_id    = var.project_id
  network       = var.vpc_self_link
  region        = var.region
  peer_ip       = var.peer_ip
  shared_secret = var.shared_secret
  router_asn    = 64514
}

output "vpn_gateway" { value = module.vpn.gateway_self_link }
